.container {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(31, 23, 23);
    color: rgb(19, 220, 235);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 220px;
}

h1 {
    font-size: 3em;
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center;
    border-bottom: solid 1px white;
}
